# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
importFrom(scatterplot3d, scatterplot3d)
importFrom(mvtnorm, dmvnorm, rmvnorm, qmvt) 
importFrom(lattice, wireframe)
importFrom(deSolve, rk4)
importFrom(plotrix, draw.circle, staxlab, thigmophobe)
importFrom(multcompView, multcompLetters)
import(
  tcltk,
  tkrplot,
  pixmap
)
